/* first row */

.title-shop-cart {
    width: 6rem;
    height: 9rem;
    text-align: center;
    padding-top: 3rem;
}


/* second row */

.table {
    margin-bottom: 0;
}

.table td {
    vertical-align: middle;
    border: 0px solid #eeeeee;
}

.table thead tr th {
    font-size: 11px;
    text-align: center;
}

.tr-border {
    border-bottom: #eeeeee solid 1px;
}

.table tbody td.product-remove {
    width: 30px !important;
    min-width: 30px !important;
    padding-left: 15px;
}

.table tbody td.product-thumbnail {
    width: 90px !important;
    min-width: 90px !important;
}

.product-name {
    text-align: center;
}

.product-name a {
    color: #292929;
    text-decoration: none;
}

.product-name h3 {
    font-size: 20px;
}

.table th.wide-column,
.table td.wide-column {
    min-width: 240px;
}

.product-price-wrapper {
    line-height: 1.4;
}

.table tbody td.product-price .product-price-wrapper>span {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}


/*-- Quantity --*/

.table tbody td.product-quantity .quantity-input {
    border-color: transparent;
    font-size: 16px;
}

input {
    overflow: visible;
}

.quantity {
    font-size: 20px;
    font-weight: 500;
    width: 106px;
    height: 43px;
    line-height: 41px;
    position: relative;
}

.quantity-label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity-input {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.quantity-input::-webkit-input-placeholder {
    color: #111111;
}

.quantity-input:-moz-placeholder {
    color: #111111;
}

.quantity-input::-moz-placeholder {
    color: #111111;
}

.quantity-input:-ms-input-placeholder {
    color: #111111;
}

.quantity .qtybutton {
    position: absolute;
    height: 100%;
    line-height: 43px;
    cursor: pointer;
    width: 14px;
    font-size: 14px;
    font-family: sans-serif;
    top: 0;
    text-align: center;
    font-weight: 600px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.quantity .qtybutton.inc {
    right: 20px;
}

.quantity .qtybutton.dec {
    left: 20px;
}

.quantity,
.quantity-label,
.quantity-input,
.quantity .qtybutton {
    color: #111111;
}

@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg#flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product-remove a {
    color: #c2080f;
}

.flaticon {
    display: inline-block;
    font-family: "flaticon";
    font-size: 16px;
    line-height: 1;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon.svg#flaticon") format("svg");
    }
}

.flaticon-shopping-cart:before {
    content: "\f100";
}

.flaticon-like:before {
    content: "\f101";
}

.flaticon-user:before {
    content: "\f102";
}

.flaticon-search:before {
    content: "\f103";
}

.flaticon-menu:before {
    content: "\f104";
}

.flaticon-repeat:before {
    content: "\f105";
}

.flaticon-two-circling-arrows:before {
    content: "\f106";
}

.flaticon-paper-plane:before {
    content: "\f107";
}

.flaticon-present:before {
    content: "\f108";
}

.flaticon-support:before {
    content: "\f109";
}

.flaticon-cross:before {
    content: "\f10a";
}

.flaticon-magnifying-glass-icon:before {
    content: "\f10b";
}

.flaticon-eye:before {
    content: "\f10c";
}


/* pay card */

.cart-collaterals {
    border-radius: 6%;
}

.cart-totals {
    background: #f6f6f6;
    padding: 30px 30px 0;
    /* margin-bottom: 15px; */
}

.cart-totals div.d-flex {
    border-bottom: 1px solid #666666;
}

.cart-totals div.d-flex:last-child {
    border-bottom: none !important;
}

.cart-totals h5 {
    font-weight: 700;
    font-family: "IRANSansX", sans-serif;
    color: #111111;
}

.cart-calculator-item-head,
.cart-calculator-item-value {
    padding-top: 5px;
    padding-bottom: 15px;
    vertical-align: top;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 2;
    padding-bottom: 1rem;
}

.cart-calculator-item-head {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    font-size: 14px;
    font-weight: 700;
}

.cart-calculator-item-value {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.cart-collaterals .btn-submit {
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    display: block;
    background-color: red;
}


/* clear card */

.clear-card-btn {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 14px;
}


/* third row */

.ow-empty {
    width: 2rem;
    height: 2rem;
}


/* other */

@media (max-width: 61.94em) {
    .mb-md--50 {
        margin-bottom: 5rem !important;
    }
}