.checkout-title h2 {
    font-size: 23px;
}

.checkout-title h2::after {
    content: "";
    width: 50px;
    display: block;
    margin-top: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: inherit;
}

.form-label-2 {
    font-size: 14px;
}

.form-label {
    color: #707070;
    font-size: 16px;
    font-weight: 500;
}

.form-input-2 {
    height: 40px;
}

.form-input {
    border: 1px solid #eeeeee;
    width: 100%;
    height: 36px;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.form-input-textarea {
    height: 100px;
}

.order-details {
    padding: 40px 45px;
    border: 2px solid #eeeeee;
}

.table th,
.table td {
    min-width: 100px;
}

.table thead th,
.table th {
    text-transform: uppercase;
    padding: 13px 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 11px;
    border: 0px solid #eeeeee;
    vertical-align: middle;
}

.table tbody td {
    padding: 15px 0;
}

.table td {
    vertical-align: middle;
    border: 0px solid #eeeeee;
}

.payment-radio input {
    margin-right: 10px;
}

.payment-label {
    text-transform: uppercase;
}