.nav-blog p {
    font-size: 18px;
    padding-top: 2px;
}

.nav-blog .nav-hashtag {
    font-size: 14px;
    border-radius: 40%;
    background-color: #12253c;
    padding-top: 7px;
}

.nav-blog .nav-hashtag ul {
    padding-right: 0% !important;
}

.nav-blog .nav-hashtag li a {
    color: #fff;
    padding: 0.75rem;
}

.nav-blog .nav-hashtag li a:hover,
ul.nav.justify-content-center li.nav-item a:hover {
    text-decoration: none;
    background-color: #3d4146;
}

@media screen and (max-width:845px) {
    .nav-blog p {
        font-size: 15px;
    }
}


/* top content */

.first-content {
    display: block;
    height: 400px;
}

.second-content {
    height: 213px;
    border-radius: 5%;
}

.third-content {
    height: 187px;
    border-radius: 5%;
}

.fourth-content {
    height: 187px;
    border-radius: 5%;
}

.fiveth-content {
    height: 213px;
    border-radius: 5%;
}

.caption-blog {
    position: absolute;
    right: 1.5%;
    bottom: 8px;
    left: 1.5%;
    z-index: 10;
    color: #fff;
    text-align: center;
    background-color: rgba(48, 48, 48, 0.4);
    -webkit-backdrop-filter: (100px);
    backdrop-filter: grayscale(100%);
    font-size: 14px;
}