@import '_top_nav.css';
@import '_slider.css';
p {
    margin: 0px;
}

.btn-font-size-14 {
    font-size: 0.9rem;
}

.nav-custome {
    text-align: center;
}

.nav-custome ul {
    list-style-type: none;
    display: inline-flex;
    padding-top: 5px;
}

.nav-custome ul li a {
    padding-right: 0.5rem;
    padding-left: 0.51rem;
    text-decoration: none;
    border-bottom: 1px;
    color: rgb(74, 74, 74);
}

.nav-custome ul li a:hover {
    color: black;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
}

.brd-b {
    border-bottom: 1rem solid balck;
}

ul {
    list-style-type: none;
}

.pr-2-5 {
    padding-right: 2.5rem !important;
}

@media (max-width: 576px) {
    .cu-mt-sm-3 {
        margin-top: 1rem !important;
    }
}

@media (max-width: 991) {
    .cu-mt-lg-3 {
        margin-top: 1rem !important;
    }
}

@media (max-width:1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1340px !important;
    }
}