@import '_top_nav.css';
@import '_slider.css';
@import '_shipping.css';
@import '_ads.css';
@import '_special_offer.css';
@import '_banner_section_1.css';
p {
    margin: 0px;
}

.btn-font-size-14 {
    font-size: 0.9rem;
}

.nav-custome {
    text-align: center;
}

.nav-custome ul {
    list-style-type: none;
    display: inline-flex;
    padding-top: 5px;
}

.nav-custome ul li a {
    padding-right: 0.5rem;
    padding-left: 0.51rem;
    text-decoration: none;
    border-bottom: 1px;
    color: rgb(74, 74, 74);
}

.nav-custome ul li a:hover {
    color: black;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
}

.brd-b {
    border-bottom: 1rem solid balck;
}

ul {
    list-style-type: none;
}

.pr-2-5 {
    padding-right: 2.5rem !important;
}

@media (max-width: 576px) {
    .cu-mt-sm-3 {
        margin-top: 1rem !important;
    }
}

@media (max-width: 991) {
    .cu-mt-lg-3 {
        margin-top: 1rem !important;
    }
}

@media (max-width:1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1340px !important;
    }
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 27px;
    width: 100%;
    display: flex;
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    right: -4px;
}

.owl-carousel .owl-nav .owl-next {
    position: absolute;
    left: -4px;
}

.owl-carousel .owl-nav button {
    width: 28px;
}

.owl-carousel .owl-nav .owl-next span,
.owl-carousel .owl-nav .owl-prev span {
    display: block;
    font-size: 66px;
    background-color: #fff;
    box-shadow: 0 0 5px 4px #efefef;
}

.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next span:focus,
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-prev span:focus {
    outline: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    color: black;
}

@media (max-width: 576px) {
    .item-catrgori img {
        max-width: 150px;
        max-height: 150px;
    }
    .c-col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sm-radius-5 {
        border-radius: 10%;
    }
}